@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #374046;
    color: #F0F8FE;
    overflow: hidden;
}
.separate{
    height: 170px;
    width: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%,-50%);
    background-color: #F0F8FE;
    border-radius: 1000px;
}
.flex{
    display: flex;
}

.border{
    border: black solid 2px;
}
section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.left h1{
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    overflow: hidden;
    /* padding: 10%; */
    text-align: center;
    font-size: 140px;
    opacity: 0;
    animation: move 1.5s 0.1s  forwards;
}
.circle{
    position: absolute;
    background: url('img/circle.png') right no-repeat;
    background-size: contain; 
    width: 50%;
    height: 40%;
    left: 0;
    top: 24%;
    opacity: 0;
    animation: move 4s 2s  forwards;
}
.left p{
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 20px;
    opacity: 0;
    animation: move 1s 0.3s  forwards;
}
.left button{
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 200px;
    border: none;
    background-color: #F0F8FE;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    letter-spacing: 0.15em;
    font-weight: 500;
    color: #374046;
    opacity: 0;
    animation: move 1s 0.3s  forwards;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-container{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background: white;
    box-shadow: 0px 4px 34px rgba(6, 95, 133, 0.51);
    border-radius: 6px; 
}

.lil-container{
    width: 90%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;

}

.item{
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
    /* background: #F0F8FE; */
    box-shadow: inset 0px 4px 60px rgba(0, 0, 0, 0.25);
    border: 2px solid #374046;    
}

.number{
    color: black;
}

.defaite{
    background: #222324;
    flex-direction: column;
    gap: 10px;
    color: #E5656D;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: hidden;
    opacity: 0;
    animation: move 2s 0s  forwards;
}
.defaite h2{
    font-size: 50px;
    width: 60%;
    text-align: center;
}
.defaite button{
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 400px;
    border: none;
    background-color: #E5656D;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.15em;
    font-weight: 500;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.defaite button:hover{
    color: white;
}

.light{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    background-color: #E5656D;
    bottom: -40%;
    left: -10%;
    filter: blur(200px);
}

.victory{
    color: #F0F8FE;
    flex-direction:column;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: hidden;
    opacity: 0;
    animation: move 2s 0s  forwards;
}
.victory div{
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.victory h2{
    font-size: 50px;
    width: 60%;
    text-align: center;
}
.victory button{
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 400px;
    border: none;
    background-color: #F0F8FE;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.15em;
    font-weight: 500;
    width: 180px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.cell{
    background: #F0F8FE;
}
.cell2{
    background-color: #CDE4FF;
}
  .cell4{
    background-color: #B6CBE5;
  }
  .cell8{
    background-color: #769bcc;
  }
  .cell16{
    background-color: #95A4B7;
  }
  .cell32{
    background-color: #617895;
  }
  .cell64{
    background-color: #507CB4;
  }
  .cell128{
    background-color: #307BDA;
  }
  .cell256{
    background-color: #4FF0F0;
  }
  .cell512{
    background-color: #068C8C;
  }
  .cell1024{
    background-color: #185656;
  }
  .cell2048{
    background-color: #0A9D83;
  }

@keyframes move { 
    100%{
        opacity: 1;
        transform: none;
    }
}
@media(max-width: 761px){
    .victory h2{
        font-size: 40px;
    }
    .victory div{
        width: 300px;
    }

    .defaite h2{
        font-size: 40px;
    }
    .left h1{
        font-size: 100px;
    }
    .circle{
        display: none;
    }
    section{
        flex-direction: column;
    }

    .left{
        height: 50%;
        width: 100%;
    }
    .right{
        height: 50%;
        width: 100%;
    }
    .big-container{
        width: 70%;
        height: 80%;
    }
    .separate{
        height: 3px;
        width: 170px;
        transform: translate(-50%,50%);
    }
}